<!-- <div class="container"> -->
  <div class="row centerContent m-4" >

      <div class="col-md-4 px-2" >
        <div class="person d-flex" style="justify-content: space-between;">
          <div class="left col-md-6">
            <img class="img-fluid" src="../../assets/circle.png">
          </div>
          <div class="right col-md-6">
            <h5>{{'person'| translate}}</h5>
            <div class="py-2">
              <div class="d-flex" style="gap: 6px;">
                <div>
                  <img src="../../assets/Ellipse 1078.png" alt="">
                </div>
                <p>{{'read1'| translate}}</p>
              </div>
              <h5>254</h5>
            </div>

            <div class="py-2">
              <div class="d-flex" style="gap: 6px;">
                <div>
                  <img src="../../assets/Ellipse 1079.png" alt="">
                </div>
                <p>{{'read2'| translate}}</p>
              </div>
              <h5>120</h5>
            </div>
            <div class="py-2">
              <div class="d-flex" style="gap: 6px;">
                <div>
                  <img src="../../assets/Ellipse 1077.png" alt="">
                </div>
                <p>{{'read3'| translate}}</p>
              </div>
              <h5>25</h5>
            </div>
          </div>
        </div>

      </div>

      <div class="statistics col-md-4 p-3 " style="position: relative;">
        <h5>{{'statistics'| translate}}</h5>
        <div style="gap: 80px;">
          <div class="pb-5">
            <img src="../../assets/Pie Chart.png">
            <div class="numb" style="position: absolute; top: 80px;left: 65px;">
              <p>158</p>
              <p>{{'device'| translate}}</p>
            </div>
          </div>

          <div class="choices d-flex " style="gap: 5px;">

            <div class="choose1 d-flex col-md-6" style="gap: 10px;">
              <div style=" display: flex;align-items: center; justify-content: center; ">
                <img src="../../assets/blue line.png">
              </div>
                <div style="align-items: center; display:inline-block ">
                  <p>108</p>
                  <p>{{'chooseNo1'| translate}}</p>
              </div>
            </div>

            <div class="choose2 col-md-6 d-flex " style="gap: 10px;">
              <div style="display: flex;align-items: center; justify-content: center;">
                <img src="../../assets/yellow line.png">
              </div>

              <div style="display: inline-block;">
                <p>108</p>
                <p>{{'chooseNo2'| translate}}</p>
              </div>
            </div>
          </div>

        </div>


      </div>

    <div class="reads col-md-4 ">
      <div class="p-3 firstRead" style="border-radius: 20px;">
        <p>{{'otherReads'| translate}}</p>
        <div class="d-flex " style="gap: 6px; align-items: center;">
          <img src="../../assets/timer-start.png">
          <p class="pt-3">35</p>
        </div>
      </div>
      <div class=" p-3 my-2 secondRead" style="border-radius: 20px;">
        <p>{{'otherReads'| translate}}</p>
        <div class="d-flex" style="gap: 6px; align-items: center;">
          <img src="../../assets/calendar-2.png">
          <p class=" pt-3">256</p>
        </div>
      </div>
      <div class="p-3 thirdRead" style="border-radius: 20px">
        <p>{{'otherReads'| translate}}</p>
        <div class="d-flex" style="gap: 6px; align-items: center;">
          <img src="../../assets/tick-circle.png">
          <p class="pt-3">18</p>
        </div>
      </div>
        </div>
  </div>

<!-- </div> -->




