.commentCard1
{
background-color:#F2F5F1;
}
.commentCard2{
  background-color: #FFF6E3;
}
.commentCard3{
  background-color: #7661E2;
}
.commentCard4,.commentCard5{
  background-color: #F1ECFE;
}
.man{
  width: 15%;
}
.dashed-line {
  border: 1px dashed #EEEDF2 ;
}
.day span{
 font-family: 'Neo Sans Arabic';
  font-weight: 400;
  color:  #B4B4B4;
  padding: 4px 0px
}

.day h5{
  color: #1C1C28;
  font-family: 'Inter';
  font-weight: 500;
}

.commentCard1 ,.commentCard2,.commentCard3 ,.commentCard4 ,.commentCard5
{
  font-family: 'Neo Sans Arabic';
font-size: 11px;
font-weight: 500;
line-height: 13px;
letter-spacing: 0em;
text-align: left;
color: #1C1C28;


}
