<div class="comment m-3">
  <div style="justify-content:center; align-items: center;gap: 10px;" class="d-flex">
    <div>
      <p>{{'scheduleDates' | translate}}</p>
    </div>
    <div class="d-flex" style="justify-content:center; align-items: center;gap: 10px;">
      <div style="transform:rotate(180deg);"><img src="../../assets/icon.png"></div>
      <div><img src="../../assets/icon.png"></div>
    </div>
    <a href="#"><img src="../../assets/calendar-2.svg">
      <input name="workingDays" type="date" id="date" min="2023-01-01"></a>

  </div>

<div class="commentCard1 p-3 m-3" style="border-radius: 20px;">
  <h5>{{'comment'|translate}}</h5>
  <div class="d-flex" style="gap: 4px;">
    <img src="../../assets/clock.svg">
    <span>05:00-06:00 pm</span>
  </div>
  <div style="display:flex;justify-content:space-between">
    <img src="../../assets/Image-35.png">
    <img style="rotate: 180deg;" src="../../assets/arr.svg">
  </div>

</div>

<div class="commentCard2 p-3 m-3" style="border-radius: 20px;">
  <h5>{{'comment'|translate}}</h5>
  <div class="d-flex" style="gap: 4px;">
    <img src="../../assets/clock.svg">
    <span>04:00-05:00 pm</span>
  </div>
  <div style="display:flex;justify-content:space-between">

    <div class="d-flex" style="align-items: center;gap: 5px;">
      <img src="../../assets/girl.png">
      <p class="pt-2">mira mohsen</p>
    </div>
    <img style="rotate: 180deg;" src="../../assets/arr.svg">
  </div>



</div>
<div class="commentCard3 p-3 m-3" style="border-radius: 20px;">
  <h5>{{'comment'|translate}}</h5>
  <div class="d-flex" style="gap: 4px;">
    <img src="../../assets/clock.svg">
    <span>03:00-04:00 pm</span>
  </div>
  <div style="display:flex;justify-content:space-between">
    <div class="d-flex" style="align-items: center;gap: 5px;">
      <img class="img-fluid man" src="../../assets/man.png">
      <p class="pt-2">Mahmoud Elgharib</p>
    </div>
    <img style="rotate: 180deg;" src="../../assets/arr.svg">
  </div>




</div>
<div class="commentCard4 p-3 m-3" style="border-radius: 20px;">
  <h5>{{'comment'|translate}}</h5>
  <div class="d-flex" style="gap: 4px;">
    <img src="../../assets/clock.svg">
    <span>05:00-06:00 pm</span>
  </div>
  <div style="display:flex;justify-content:space-between">
    <div class="d-flex " style="align-items: center;gap: 5px;">
      <img src="../../assets/man2.png">
      <p class="pt-2">Karem Abdulaziz</p>
    </div>
    <img style="rotate: 180deg;" src="../../assets/arr.svg">
  </div>




</div>
<div class="commentCard5 p-3 m-3" style="border-radius: 20px;">
  <h5>{{'comment'|translate}}</h5>
  <div class="d-flex" style="gap: 4px;">
    <img src="../../assets/clock.svg">
    <span>05:00-06:00 pm</span>
  </div>
  <div style="display:flex;justify-content:space-between ; overflow: hidden;">
    <div class="d-flex" style="align-items: center;gap: 5px;">
      <img src="../../assets/Image-35.png">
      <p class="pt-2"></p>
    </div>
    <img style="rotate: 180deg;" src="../../assets/arr.svg">
  </div>



</div>

</div>
