.commentCard1
{
background-color:#F2F5F1;
}
.commentCard2{
  background-color: #FFF6E3;
}
.commentCard3{
  background-color: #7661E2;
}
.commentCard4,.commentCard5{
  background-color: #F1ECFE;
}
.man{
  width: 15%;
}
