<!-- position: relative;  -->
<!-- position: absolute; top: 2px;right:3px ; text-align: center; justify-self: center" -->
<div class="comment ">
  <div style="justify-content:center; align-items: center;gap: 10px;" class="d-flex">
    <div style="display:flex;align-items: center; text-align: center; gap: 10px;">
      <div class="pt-3" style="display: flex; text-align: center; height: 100%;align-items: center;">
        <p>{{'scheduleDates' | translate}}</p>
      </div>
    <div class="d-flex" style="justify-content:center; align-items: center;gap: 10px;">
      <div><img src="../../assets/right icon.svg"></div>
      <div><img src="../../assets/left icon.svg"></div>
    </div>
  </div>

    <a href="#"><img src="../../assets/calendar-2.svg">
      <input name="workingDays" type="date" id="date" min="2023-01-01"></a>
  </div>

  <hr class="dashed-line">

<div class="weekDays d-flex col-sm-12" style="gap: 12px;">

<div class="day">
  <span>{{'sat'| translate}}</span>
  <h5>24</h5>
  <div class="d-flex" style="justify-content: center;">
    <img src="../../assets/red dot.svg">
  </div>
</div>
<div class="day p-1" style="background-image: url('../../assets/yellow\ rec.svg'); justify-content: center;">
  <span>{{'sun'| translate}}</span>
  <div style="display: flex; align-items: center ;justify-content: center;">
    <h5 style="background-image: url(../../assets/black\ circle.svg);background-position: center;background-size: cover ;color: white;" >25</h5>
  </div>
  <div class="d-flex" style="justify-content: center;">
    <img src="../../assets/two dots.svg">
  </div>
</div>
<div class="day">
  <span>{{'mon'| translate}}</span>
  <h5>26</h5>
</div>
<div class="day">
  <span>{{'tues'| translate}}</span>
  <h5>27</h5>
  <div class="d-flex" style="justify-content: center;">
    <img src="../../assets/green dot.svg">
    <img src="../../assets/orange dot.svg">
  </div>

</div>
<div class="day">
  <span>{{'wed'| translate}}</span>
  <h5>28</h5>
  <div class="d-flex" style="justify-content: center;">
    <img src="../../assets/green dot.svg">
    <img src="../../assets/orange dot.svg">
    <img src="../../assets/purple dot.svg">
  </div>
</div>
<div class="day">
  <span>{{'thur'| translate}}</span>
  <h5>29</h5>
</div>
<div class="day">
  <span>{{'fri'| translate}}</span>
  <h5>30</h5>
  <div class="d-flex" style="justify-content: center;">
    <img src="../../assets/green dot.svg">
  </div>
</div>

</div>




<div class="commentCard1 p-3 m-3" style="border-radius: 20px;">
  <h5>{{'comment'|translate}}</h5>
  <div class="d-flex" style="gap: 4px;">
    <img src="../../assets/clock.svg">
    <span>05:00-06:00 pm</span>
  </div>
  <div style="display:flex;justify-content:space-between">
    <img src="../../assets/Image-35.png">
    <img src="../../assets/arr.svg">
  </div>

</div>

<div class="commentCard2 p-3 m-3" style="border-radius: 20px;">
  <h5>{{'comment'|translate}}</h5>
  <div class="d-flex" style="gap: 4px;">
    <img src="../../assets/clock.svg">
    <span>04:00-05:00 pm</span>
  </div>
  <div style="display:flex;justify-content:space-between">

    <div class="d-flex" style="align-items: center;gap: 5px;">
      <img src="../../assets/girl.png">
      <p class="pt-2">{{'namePerson1'|translate}}</p>
    </div>
    <img src="../../assets/arr.svg">
  </div>



</div>
<div class="commentCard3 p-3 m-3" style="border-radius: 20px;">
  <h5>{{'comment'|translate}}</h5>
  <div class="d-flex" style="gap: 4px;">
    <img src="../../assets/clock.svg">
    <span>03:00-04:00 pm</span>
  </div>
  <div style="display:flex;justify-content:space-between">
    <div class="d-flex" style="align-items: center;gap: 5px;">
      <img class="img-fluid man" src="../../assets/man.png">
      <p class="pt-2">{{'namePerson2'|translate}}</p>
    </div>
    <img src="../../assets/arr.svg">
  </div>




</div>
<div class="commentCard4 p-3 m-3" style="border-radius: 20px;">
  <h5>{{'comment'|translate}}</h5>
  <div class="d-flex" style="gap: 4px;">
    <img src="../../assets/clock.svg">
    <span>05:00-06:00 pm</span>
  </div>
  <div style="display:flex;justify-content:space-between">
    <div class="d-flex " style="align-items: center;gap: 5px;">
      <img src="../../assets/man2.png">
      <p class="pt-2">{{'namePerson3'|translate}}</p>
    </div>
    <img src="../../assets/arr.svg">
  </div>




</div>
<div class="commentCard5 p-3 m-3" style="border-radius: 20px;">
  <h5>{{'comment'|translate}}</h5>
  <div class="d-flex" style="gap: 4px;">
    <img src="../../assets/clock.svg">
    <span>05:00-06:00 pm</span>
  </div>
  <div style="display:flex;justify-content:space-between ; overflow: hidden;">
    <div class="d-flex" style="align-items: center;gap: 5px;">
      <img src="../../assets/Image-35.png">
      <p class="pt-2"></p>
    </div>
    <img src="../../assets/arr.svg">
  </div>



</div>

</div>
