<div class="d-flex m-2" style=" align-items: center; gap: 5px;justify-content: space-between;">
  <div style="display: flex; justify-content: space-around; position: relative; gap: 5px; align-items: center;">
    <div class="search-box" >
      <button class="btn-search"><img class="img-fluid" src="../../assets/search-normal.svg"></button>
      <input type="text" class="input-search w-100" placeholder="Type to Search...">
    </div>

    <div style="display: flex; gap: 6px;position:static;">
      <div class="filter">
        <a href="#"><img src="../../assets/filter.png" ></a>
      </div>
      <div class="arrows">
        <a href="#"><img src="../../assets/arrows.png" ></a>
      </div>
    </div>

  </div>
  <div>
    <button type="button" class="btn" style="background-color: #FEEE00;">+{{'addNew'| translate}}</button>
  </div>
</div>

