<div class="d-flex m-2" style=" align-items: center; gap: 5px;justify-content: space-between;">
  <div style="display: flex; justify-content: space-around; position: relative; gap: 5px; align-items: center;">
    <div class="search-box" >
      <button class="btn-search"><img class="img-fluid" src="../../assets/search-normal.svg"></button>
      <input type="text" class="input-search w-100" placeholder="Type to Search...">
    </div>

    <div style="display: flex; gap: 6px;position:static;">
      <div class="filter" style="border-radius: 5px; border: 1px solid rgba(146, 161, 173, 0.4); background-color: whitesmoke; display: flex; align-items: center;">
        <a href="#" class="p-2"><img src="../../assets/filter.svg" ></a>
      </div>
      <div class="arrows" style="border-radius: 5px; border: 1px solid rgba(146, 161, 173, 0.4); background-color: whitesmoke; display: flex; align-items: center;">
        <a href="#" class="p-2"><img src="../../assets/arrow-3.svg" ></a>
      </div>
    </div>
  </div>
  <div class="btnHover" style="background-color: #FEEE00">
    <a href="#" class="p-2" style="text-decoration: none; color: black; border-radius: 5px;">+{{'addNew'| translate}}</a>
  </div>
</div>

