<div class="table-responsive">
<table class="table table-hover">
  <thead>
    <tr>
      <th *ngFor="let col of cols; let i = index" scope="col" >{{col | translate}}</th>
      <th scope="col"><img style="background-color: #0047b3;" src="../../assets/setting-2 (1).png"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let row of data; let i = index" scope="col">
      <td scope="row">{{row.idNumber}}</td>
      <td>
        <ng-template #tipContent>{{row.fullName}}</ng-template>
        <p [ngbTooltip]="tipContent">{{row.fullName.length > 20 ? row.fullName.slice(0,20) +'...' : row.fullName}}</p>
      </td>
      <td>{{row.email}}</td>

      <td> <div class="d-flex" style="gap: 3px; color: white;">
        <div style="position: relative; display: inline-block;border-radius: 5px;" >
          <input type="text" style="padding: 10px; background-color:#2385EA;" class="form-check-input" type="checkbox" id="flexCheckIndeterminate" value="">
         <p style="position: absolute; top: 5px; right: 5px">{{'satabb'| translate}}</p>
      </div>
      <div style="position: relative; display: inline-block;border-radius: 5px;" >
        <input type="text" style="padding: 10px; background-color:#2385EA;" class="form-check-input" type="checkbox" id="flexCheckIndeterminate" value="">
       <p style="position: absolute; top: 5px; right: 5px">{{'sunabb'| translate}}</p>
      </div>
      <div style="position: relative; display: inline-block;border-radius: 5px;" >
        <input type="text" style="padding: 10px; color: #F7F7FA; background-color: #BBBEC2;" class="form-check-input" type="checkbox" id="flexCheckIndeterminate" value="">
       <p style="position: absolute; top: 5px; right: 5px">{{'monabb'| translate}}</p>
      </div>
      <div style="position: relative; display: inline-block;border-radius: 5px;" >
        <input type="text" style="padding: 10px ;background-color:#2385EA;" class="form-check-input" type="checkbox" id="flexCheckIndeterminate" value="">
       <p style="position: absolute; top: 5px; right: 5px">{{'tuesabb'| translate}}</p>
      </div>
        <div style="position: relative; display: inline-block;border-radius: 5px;" >
          <input type="text" style="padding: 10px; background-color:#2385EA;" class="form-check-input" type="checkbox" id="flexCheckIndeterminate" value="">
         <p style="position: absolute; top: 5px; right: 5px">{{'wedabb'| translate}}</p>
      </div>

      <div style="position: relative; display: inline-block;border-radius: 5px;" >
        <input type="text" style="padding: 10px; background-color:#2385EA;" class="form-check-input" type="checkbox" id="flexCheckIndeterminate" value="">
       <p style="position: absolute; top: 5px; right: 5px">{{'thurabb'| translate}}</p>
      </div>
      <div style="position: relative; display: inline-block;border-radius: 5px;" >
        <input type="text" style="padding: 10px ;color: #F7F7FA; background-color: #BBBEC2;" class="form-check-input" type="checkbox" id="flexCheckIndeterminate" value="">
       <p style="position: absolute; top: 5px; right: 5px">{{'friabb'| translate}}</p>
      </div>
      </div></td>

      <td><div style="display: flex;justify-content: space-between;">
        <img class="img-fluid" src={{row.userInterface}}>
        <span>user iterface.png</span>
        <a href="#"><img  src="../../assets/dots.svg"></a>
      </div>
      <td>control of table</td>
    </tr>

  </tbody>
</table>

<ngb-pagination class="d-flex" style="justify-content: left;"
	[collectionSize]="120"
	[(page)]="page"
	[maxSize]="5"
	[rotate]="true"
	[boundaryLinks]="true"
></ngb-pagination>
