<!-- <div class="h-100 ">
  <div class="d-flex" style="justify-content: space-between;">

      <div class="brand container-fluid" style="display: block">
        <img class="px-2" src="../../assets/logo.svg">
      </div>
      <div>
        <button class="navbar-toggler" style="background-color: yellow; border-radius: 20px;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><img src="../../assets/Vector (2).svg"></span>
        </button>
      </div>
    </div>

    <div class="section1 pt-5">
      <div style="gap: 10px; display: flex; text-align: center;align-items: center;">
        <div >
          <img class="px-2" src="../../assets/home.svg">
        </div>
      <div>
        <span style="line-height: 10px;">{{'title' | translate}}</span>
      </div>
      </div>

  <div ngbDropdown class="d-inline-block py-3">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      <img class="px-2" src="../../assets/home.svg">
    {{'firstMenu' | translate}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block py-3 ">
    <button style="background-image: url('../../assets/Rectangle\ 226.svg'); background-position:check; background-size: contain; background-repeat: no-repeat;" type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      <img class="px-2" src="../../assets/home.svg">
    {{'firstMenu' | translate}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block py-3">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      <img class="px-2" src="../../assets/home.svg">
    {{'firstMenu' | translate}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block py-3">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      <img class="px-2" src="../../assets/home.svg">
    {{'firstMenu' | translate}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
    </div>
  </div>

    </div>

    <div class="section2 pt-5">
      <div class="pb-5">
        <span >{{'account'| translate}}</span>
      </div>
      <div style="align-content: center;">
        <div class="d-flex p-2 ">
          <img src="../../assets/info-circle.svg" class="pe-2">
          <div class="forA"><a href="#">{{'help'| translate}}</a></div>
        </div>
        <div class="d-flex mt-3 px-2">
          <img src="../../assets/setting-2.png" class="pe-2">
          <div class="forA"><a href="#">{{'setting'| translate}}</a></div>
        </div>
      </div>
  </div>

</div>
 -->

 <div class="">
  <div class="d-flex" style="justify-content: space-between;position: relative;">

      <div class="brand container-fluid" style="display: block">
        <img class="" src="../../assets/logo.svg">
      </div>
      <div >
        <button class="navbar-toggler" style="background-color: yellow; border-radius: 20px;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"><img src="../../assets/Vector (2).svg"></span>
        </button>
      </div>
    </div>

    <div class="section1 pt-5">
      <div  class="pb-3">
        <span style="padding-inline:22px;line-height: 10px;" >{{'title' | translate}}</span>
      </div>

      </div>
    </div>
    <div ngbDropdown class="py-3">
      <img class="px-3" src="../../assets/home.svg">
      <span style="line-height: 10px;">{{'title' | translate}}</span>

</div>

  <div ngbDropdown class="d-inline-block py-3">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      <img class="px-2" src="../../assets/home.svg">
    {{'firstMenu' | translate}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block py-3 ">
    <button style="background-image: url('../../assets/Rectangle\ 226.svg'); background-size: contain; background-repeat: no-repeat;" [style.background-position]="check" type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      <img class="px-2" src="../../assets/home.svg">
    {{'firstMenu' | translate}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block py-3">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      <img class="px-2" src="../../assets/home.svg">
    {{'firstMenu' | translate}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
    </div>
  </div>

  <div ngbDropdown class="d-inline-block py-3">
    <button type="button" class="btn" id="dropdownBasic1" ngbDropdownToggle>
      <img class="px-2" src="../../assets/home.svg">
    {{'firstMenu' | translate}}
    </button>
    <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
      <button ngbDropdownItem>{{'smallMenu'| translate}}</button>
    </div>
  </div>


    <div class="section2 pt-5">
      <div class="pb-5">
        <span >{{'account'| translate}}</span>
      </div>
      <div style="align-content: center;">
        <div class="d-flex p-2 ">
          <img src="../../assets/info-circle.svg" class="pe-2">
          <div class="forA"><a href="#">{{'help'| translate}}</a></div>
        </div>
        <div class="d-flex mt-3 px-2">
          <img src="../../assets/setting-2.png" class="pe-2">
          <div class="forA"><a href="#">{{'setting'| translate}}</a></div>
        </div>
      </div>
  </div>
